// ================================
// SCSS DEFAULT EXAMPLES (!default)
// ================================

// What does !default do?

// Normally to override variables, you have to define the new value below the original value.
// With !default, it’s the other way around. Any property that has !default set to it is considered as a fallback value,
// if the variable is not assigned already.
// If the variable is assigned beforehand, the property with !default is ignored.

// brand-styles.scss
$brand-color: #0274b3;
$brand-text-color: #000000;
$brand-font-family: Arial, sans-serif;

// default-styles.scss
$brand-color: #ffffff !default;
$brand-text-color: #333333 !default;
$brand-font-family: "Helvetica", Arial, sans-serif !default;
$brand-font-weight: 700 !default;

// If, brand-styles.scss is called first, following default.scss
// final applied styles would be
$brand-color: #0274b3;
$brand-text-color: #000000;
$brand-font-family: Arial, sans-serif;
$brand-font-weight: 700;
