// =====================
// NULL VALUES IN MIXINS
// =====================

// sass version [null argument?]
@mixin background($opacity: null) {
  background-color: #666666;
  opacity: $opacity;
}

hero-background {
  @include backgrounds();
}

footer-background {
  @include background(0.6);
}

// css counterpart
hero-background {
  background-color: #666666;
}

footer-background {
  background-color: #666666;
  opacity: 0.6;
}
