// ============================
// PARENT SELECTOR EXAMPLES (&)
// ============================

// sass version [basic way]
.navigator {
  &.right-nav {
    color: #666666;
  }
}

// css counterpart
.navigator.right-nav {
  color: #666666;
}

// -------------------------------------------------------------------------------------------

// sass version [space matters, look closely!]
.navigator {
  & .right-nav {
    color: #666666;
  }
}

// css counterpart
.navigator .right-nav {
  color: #666666;
}

// -------------------------------------------------------------------------------------------

// sass version [order matters as well!]
.navigator {
  .right-nav & {
    color: #4a4a4a;
  }
}

// css counterpart
.right-nav .navigator {
  color: #4a4a4a;
}

// -------------------------------------------------------------------------------------------

// sass version [psuedo selector, anyone?]
.button {
  background-color: #000000;
  color: #ffffff;
  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

// css counterpart
.button {
  background-color: #000000;
  color: #ffffff;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
}
